<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InterfacesSOS"
        tools:targetApi="31">
        <activity
            android:name=".ui.TelaInformacoes"
            android:exported="false"
            android:theme="@style/Theme.InterfacesSOS" />
        <activity
            android:name=".ui.MainActivity"
            android:banner="@drawable/logosos"
            android:exported="true"
            android:icon="@drawable/logosos"
            android:label="@string/title_activity_tela_informacoes_gerais"
            android:logo="@drawable/logosos"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ui.SosWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.ACTION_CLICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/sos_widget_info" />
        </receiver>

        <activity
            android:name=".ui.ListaContatosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ListaUsuarios"
            android:exported="false" />
        <activity
            android:name=".ui.TelaLocalizacaoActivity"
            android:exported="false"
            android:label="@string/title_activity_tela_localizacao"
            android:theme="@style/Theme.InterfacesSOS" />
        <activity
            android:name=".ui.EtapaFinalActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TerceiraEtapaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SegundaEtapaActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".services.ServicoLocalizacao"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>